<div class="wrapper">
    <nav id="sidebar">
        <ul class="list-unstyled components">
            <li>
               <a href="/dashboard"><i class="fas fa-tachometer-alt"></i>&nbsp;&nbsp;Dashboard</a>
            </li>
            <li>
                <a href="/actualizacion"><i class="fas fa-tachometer-alt"></i>&nbsp;&nbsp;actualizacion</a>
             </li>
             <li>
                <a href="/agregarproducto"><i class="fas fa-tachometer-alt"></i>&nbsp;&nbsp;agregarproducto</a>
             </li>
             <li>
                <a href="/buscarproducto"><i class="fas fa-tachometer-alt"></i>&nbsp;&nbsp;buscarproducto</a>
             </li>
             <ul >

             <ul class="collapse list-unstyled">
                <li>
                    <a href="/productos/enstock"><i class="fas fa-tachometer-alt"></i>&nbsp;&nbsp;productos en stock</a>
                 </li>
                 <li>
                    <a href="/productos/fueradestock"><i class="fas fa-tachometer-alt"></i>&nbsp;&nbsp;fueradestock</a>
                 </li>
             </ul>

             <li> 
                <li>
                    <a href="/registrar"><i class="fas fa-tachometer-alt"></i>&nbsp;&nbsp;registrar usuario</a>
                 </li>
                 <li>
                    <a href="/alluser"><i class="fas fa-tachometer-alt"></i>&nbsp;&nbsp;todos los usuario</a>
                 </li>
             </li>
